We're editing beer

<p>Name: {{input value=model.name}}</p>
<p>Description: {{textarea value=model.description class="medium-text-area"}}</p>
<p>Image URL: {{input value=model.imageUrl}}</p>

<img src="{{model.imageUrl}}" class="img-icon" />
<br>
<button {{action 'save'}}>Save</button>
