<h1>Beer Tracker</h1>
<p id="explanation">Our beer is {{brewery.name}}! We have been open for {{brewery.yearsOpen}}!</p>
<h2>Beer Tracker helps you see what dishes are available today</h2>
<ul>
  {{#each model as |beer|}}
  {{#if beer.isAvailable}}
    <li>{{beer.name}}</li>
    <button {{action "makeUnavailable" beer}}>Make Unavailable</button>
    {{else}}
      <li class="not-available"><s>{{beer.name}}</s></li>
      <button {{action "makeAvailable" beer}}>Make Available</button>

  {{/if}}

  {{/each}}
</ul>
<hr>

{{input value=newItem}}
<button {{action 'saveNewItem' newItem}}>Save</button>
